input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
 h1{ font-size: 2vw; line-height: 150%; }
 h3{ font-size: 1vw; line-height: 150%; }
 h2{ font-size: 1vw; line-height: 90%; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.4;
  zoom: 0.9;
  transition: opacity 10ms 250ms;
}

#text_box {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  opacity: 0.7;
  font-size: 5vw;
  line-height: 150%;
  

}

 /*#text_h1 {
 
  
  font-size: 5vw;
  line-height: 150%;

}

#text_h3 {

  
  font-size: 3vw;
  line-height: 150%;
} */

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 1ms;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}